<div class="row">
    <div class="small-6 column">
        &copy; JKRy 2015
    </div>
    <div class="small-6 column">
        <span class="app-name">Shopping Cart Application</span>
    </div>
</div>