<td class="name">{{ name }}</td>
<td class="quantity-total">{{ quantity }}</td>
<td><a class="quantity" data-type="increase"><a class="quantity" data-type="decrease"></a> </a></td>
<td class="sub-total">&pound;{{ total }}</td>