// -------
//  Variables
// -------
//Colours
$color-white: #ffffff;
$color-red: #FF0000;
$color-foundation-blue: #2199e8;

//Header
$header-background: $color-foundation-blue;

//Footer
$footer-background: #000000;

